@model WebApplication2.ViewModels.EmpRegisterViewModel

<h2>Add Employee</h2>

@using (Html.BeginForm("AddEmployee", "Admin", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name, "Name")
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Enter employee name" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Email, "Email")
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Enter email address" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Password, "Password")
        @Html.TextBoxFor(m => m.Password, new { @class = "form-control", placeholder = "Enter password" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Salary, "Salary")
        @Html.TextBoxFor(m => m.Salary, new { @class = "form-control", placeholder = "Enter Salary" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Address, "Address")
        @Html.TextBoxFor(m => m.Address, new { @class = "form-control", placeholder = "Enter Address" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ContactNo, "ContactNo")
        @Html.TextBoxFor(m => m.ContactNo, new { @class = "form-control", placeholder = "Enter ContactNo" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.SelectedRoleId, "Role")
        @Html.DropDownListFor(m => m.SelectedRoleId, Model.Roles, "Select a Role", new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
}