@model WebApplication2.ViewModels.EmployeeDetailsViewModel

<h2>Employee Profile</h2>

<div>
    <p><strong>Name:</strong> @Model.Name</p>
    <p><strong>Email:</strong> @Model.Email</p>
    <p><strong>Salary:</strong> @Model.Salary</p>
    <p><strong>Address:</strong> @Model.Address</p>
    <p><strong>Contact No:</strong> @Model.ContactNo</p>
    <p><strong>Role:</strong> @Model.RoleName</p>
</div>
