@{
    var currentPage = ViewBag.CurrentPage;
    var totalPages = ViewBag.TotalPages;
    var AllRecords = ViewBag.AllRecords as List<WebApplication2.Models.Payment_Data>;
}
@*@model List<WebApplication2.Models.Payment_Data>*@

@foreach (var payment in Model)
{
    <tr style="background-color: #f9f9f9;">
        <td class="text-center"><p class="text-sm">@payment.Emp_Name</p></td>
        <td class="text-center"><p class="text-sm">@payment.Desc</p></td>
        <td class="text-center"><p class="text-sm"><span class="status completed">@payment.TotalAmount.ToString("C")</span></p></td>
        <td class="text-center"><p class="text-sm">@payment.Emp_Email</p></td>
        <td class="text-center"><p class="text-sm">@payment.CreateDate</p></td>
    </tr>
}