@{
    Layout = null;
    Layout = "~/Views/Shared/layout2.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<body>

    @Html.Partial("_Navbar")
    <!-- ======== main-wrapper start =========== -->
    <main class="main-wrapper">
        <!-- ========== header start ========== -->
        <header class="header text-dark py-3">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-md-5 col-6">
                        <div class="header-left d-flex align-items-center">
                            <div class="menu-toggle-btn mr-15">
                                <button id="menu-toggle" class="main-btn primary-btn btn-hover">
                                    <i class="lni lni-chevron-left me-2"></i> Menu
                                </button>
                            </div>
                            <div class="header-search d-none d-md-flex">
                                <form asp-action="DashboardSearch" asp-controller="Admin" method="get" class="d-flex" style="margin-left:auto;">
                                    <input type="text" name="search" class="form-control me-2" placeholder="Search..." value="@ViewBag.GlobalSearchQuery" />
                                    <button class="btn btn-outline-primary" type="submit"><i class="lni lni-search-alt"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-7 col-6">
                        <div class="header-right">
                            <!-- profile start -->
                            <div class="profile-box ml-15">
                                <button class="dropdown-toggle bg-transparent border-0" type="button" id="profile"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                    <div class="profile-info">
                                        <div class="info">
                                            <div class="image">
                                                <img src="~/assets/images/profile/@Context.Session.GetString("AdminProfileImage")" alt="Admin Profile" class="profile-img" style="height:100%" />
                                            </div>
                                            <div>
                                                <h6 class="fw-500">@ViewBag.AdminName</h6>
                                                <p>Admin</p>
                                            </div>
                                        </div>
                                    </div>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profile">
                                    <li>
                                        <div class="author-info flex items-center !p-1">
                                            <div class="image">
                                                <img src="@ViewBag.AdminProfileImage" alt="Admin Profile">
                                            </div>
                                            <div class="content">
                                                <h4 class="text-sm"> @ViewBag.AdminName</h4>
                                                <a class="text-black/40 dark:text-white/40 hover:text-black dark:hover:text-white text-xs" href="#"></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a asp-action="Profile" asp-controller="Admin">
                                            <i class="lni lni-user"></i> View Profile
                                        </a>
                                    </li>
                                    <li>
                                        @if (Context.Session.GetInt32("AdminId") != null)
                                        {
                                            <a asp-action="Settings" asp-controller="Admin" asp-route-id="@Context.Session.GetInt32("AdminId")">
                                                <i class="lni lni-cog"></i> Settings
                                            </a>
                                        }
                                    </li>
                                    <li class="divider"></li>
                                    <a class="dropdown-item text-danger" asp-action="Logout" asp-controller="Admin">
                                        <i class="lni lni-exit me-2"></i> Logout
                                    </a>
                                </ul>
                            </div>
                            <!-- profile end -->
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- ========== header end ========== -->
        <!-- ========== section start ========== -->
        <section class="section">
            <div class="container-fluid">
                <!-- ========== title-wrapper start ========== -->
                <div class="title-wrapper pt-30">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div class="title">
                               @*  <h2>Details</h2> *@
                            </div>
                        </div>
                        <!-- end col -->
                        <div class="col-md-6">
                            <div class="breadcrumb-wrapper">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item">
                                            <a href="#0">Dashboard</a>
                                        </li>
                                        <li class="breadcrumb-item active" aria-current="page">
                                            Details
                                        </li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->
                </div>
                <!-- ========== title-wrapper end ========== -->

                @{
                    var currentPage = ViewBag.CurrentPage;
                    var totalPages = ViewBag.TotalPages;
                    var employees = ViewBag.Employees as List<WebApplication2.ViewModels.EmployeeDetailsViewModel>;
                }
@*                 @model IEnumerable<WebApplication2.ViewModels.EmployeeDetailsViewModel>
 *@
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card-style mb-30">
                            <h2 class="mb-10">Details</h2>
                            <p class="text-sm mb-20">
                                Here's All The Information About Employees and Managers
                            </p>
                            <div class="table-wrapper table-responsive table-bordered table-striped">
                                <table class="table table-hover" style="border-spacing: 0 10px; border-collapse: separate;">
                                    @* <table class="table table-bordered table-striped table-hover"> *@
                                    <thead class="thead-light">
                                        <tr>
                                            <th class="text-center px-3"><h6 class="text-sm text-medium">#</h6></th>
                                            <th class="text-center px-3"><h6 class="text-sm text-medium">Name</h6></th>
                                            <th class="text-center px-3"><h6 class="text-sm text-medium">Email</h6></th>
                                            <th class="text-center px-3"><h6 class="text-sm text-medium">Salary</h6></th>
                                            <th class="text-center px-3"><h6 class="text-sm text-medium">Address</h6></th>
                                            <th class="text-center px-3"><h6 class="text-sm text-medium">ContactNo</h6></th>
                                            <th class="text-center px-3"><h6 class="text-sm text-medium">Role</h6></th>
                                            <th class="text-center px-3" style="width:2rem;"><h6 class="text-sm text-medium">Status</h6></th>
                                            <th class="text-center px-3"><h6 class="text-sm text-medium">Policy</h6></th>
                                            <th class="text-center px-3"><h6 class="text-sm text-medium">Policy Amount</h6></th>
                                            <th class="text-center px-3"><h6 class="text-sm text-medium">Remaining Amount</h6></th>
                                            <th class="text-center px-3"><h6 class="text-sm text-medium">Policy Date</h6></th>
                                            <th class="text-center px-3"><h6 class="text-sm text-medium">Actions</h6></th>
                                        </tr>
                                        <!-- end table row-->
                                    </thead>
                                    <tbody>
                                        @foreach (var employee in Model)
                                        {
                                            <tr style="background-color: #f9f9f9;">
                                                <td class="text-center"><p class="text-sm">@employee.EmpId</p></td>
                                                <td class="text-center"><p class="text-sm">@employee.Name</p></td>
                                                <td class="text-center"><p class="text-sm" style="margin-left:1rem; margin-right:1rem;">@employee.Email</p></td>
                                                <td class="text-center"><p class="text-sm">@employee.Salary</p></td>
                                                <td class="text-center"><p class="text-sm">@employee.Address</p></td>
                                                <td class="text-center"><p class="text-sm">@employee.ContactNo</p></td>
                                                <td class="text-center"><p class="text-sm">@employee.RoleName</p></td>
                                                <td class="text-center">
                                                    <p class="text-sm" style="margin-left:1rem; margin-right:1rem;">
                                                    <span class="status-btn active-btn">@employee.StatusDescription</span>
                                                    </p>
                                                </td>
                                                <td class="text-center">
                                                    <p class="text-sm">
                                                        @if (employee.PolicyName != "No Policy Assigned")
                                                        {
                                                            @employee.PolicyName
                                                        }
                                                        else
                                                        {
                                                            <span>No Policy</span>
                                                        }
                                                    </p>
                                                </td>
                                                <td class="text-center">
                                                    <p class="text-sm">
                                                        @if (employee.PolicyName != "No Policy Assigned")
                                                        {
                                                            @employee.PolicyAmount
                                                        }
                                                        else
                                                        {
                                                            <span>N/A</span>
                                                        }
                                                    </p>
                                                </td>
                                                <td class="text-center">
                                                    <p class="text-sm">
                                                        @employee.Remaining_Amount
                                                    </p>
                                                </td>
                                                <td class="text-center">
                                                    <p class="text-sm">
                                                        @employee.PolicyDate
                                       
                                                    </p>
                                                </td>
                                                @*<td>
                                                    <p class="text-sm">
                                                        @employee.PolicyDate?.ToString("dd/MM/yyyy")
                                                    </p>
                                                 </td> *@
                                                <td class="text-center">
                                                    <div class="action">
                                                        <a asp-controller="Admin" asp-action="Edit" asp-route-id="@employee.EmpId" asp-route-returnUrl="@ViewContext.HttpContext.Request.Path" class="text-primary">
                                                            <i class="bi bi-pencil-square" style="margin-left:1.2rem;"></i>
                                                        </a>
                                                        @*<i class="lni lni-pencil"></i> *@
                                                        <a asp-controller="Admin" asp-action="Delete" asp-route-id="@employee.EmpId" asp-route-returnUrl="@ViewContext.HttpContext.Request.Path" class="text-danger">
                                                            <i class="lni lni-trash-can" style="margin-left:1.2rem;"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <!-- end table row -->
                                        }
                                    </tbody>
                                </table>
                                <!-- end table -->
                            </div>
                        </div>
                        <!-- end card -->
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->

                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                      
                        <li class="page-item @(currentPage == 1 ? "disabled" : "")">
                            <a class="page-link" href="@Url.Action("EmployeeList", new { page = currentPage - 1 })" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>

                        @for (int i = 1; i <= totalPages; i++)
                        {
                            <li class="page-item @(i == currentPage ? "active" : "")">
                                <a class="page-link" href="@Url.Action("EmployeeList", new { page = i })">@i</a>
                            </li>
                        }
                        <li class="page-item @(currentPage == totalPages ? "disabled" : "")">
                            <a class="page-link" href="@Url.Action("EmployeeList", new { page = currentPage + 1 })" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- end container -->
        </section>
        <!-- ========== section end ========== -->
        @Html.Partial("_Footer")
    </main>
    <!-- ======== main-wrapper end =========== -->
</body>
</html>